configuration {
    modi: "emoji";
    show-icons: true;
    font: "JetBrainsMono Nerd Font 18";
}

window {
    transparency: "real";
    background-color: #1e1e2ee6;
    border: 3px solid #59b0eb;
    border-radius: 16px;
    width: 600px;
    height: 500px;
    location: center;
}

inputbar {
    padding: 12px;
    background-color: #313244cc;
    text-color: #cdd6f4;
    border-radius: 12px;
}

listview {
    padding: 20px;
    columns: 6;
    lines: 8;
    spacing: 12px;
}

element {
    padding: 12px;
    border-radius: 12px;
    text-color: #cdd6f4;
}

element selected {
    background-color: #59b0eb;
    text-color: #1e1e2e;
}

element-icon {
    size: 64px;
}
